{% extends 'form_base.html' %}
{% load static %}
{% load dict_access %}
{% load widget_tweaks %}

{% block content %}
<div class="container pt-lg-md">
    <div class="row justify-content-center">
        <div class="col-lg-5">
            <div class="card bg-secondary shadow border-0">
                <div class="card-body px-lg-5 py-lg-5">
                    <div class="text-muted text-center mb-3">
                        <small>{{ message }}</small>
                    </div>
                    <form role="form" method="POST">
                        {% csrf_token %}
                        {% with WIDGET_ERROR_CLASS='is-invalid' %}
                        {% for field in form %}
                        <div class="form-group mb-3">
                            <div class="input-group input-group-alternative">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="{{ form.icons|hash:field.label }}"></i></span>
                                </div>
                                {% render_field field %}
                            </div>
                        </div>
                        {% endfor %}
                        {% endwith %}
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary my-4">Sign in</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-6">
                    <a href="#" class="text-light">
                        <small>Forgot password?</small>
                    </a>
                </div>
                <div class="col-6 text-right">
                    <a href="#" class="text-light">
                        <small>Create new account</small>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    {% if form.errors %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert" style="position: fixed; z-index: 100; bottom : 2vh; left: 5%; right: 5%;">
        {% if form.non_field_errors %}
        {% for error in field.non_field_errors %}
        <span class="alert-inner--icon"><i class="fa fa-exclamation-circle"></i></span>
        <span class="alert-inner--text"><strong>{{error}}</strong></span>
        <br/>
        {% endfor %}
        {% endif %}
        
        {% for field in form %}
        {% if field.errors %}
        {% for error in field.errors %}
        <span class="alert-inner--icon"><i class="fa fa-exclamation-circle"></i></span>
        <span class="alert-inner--text"><strong>{{error}}</strong></span>
        <br/>
        {% endfor %}
        {% endif %}
        {% endfor %}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endif %}
</div>
{% endblock content %}